*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x:hidden;
}

#header{
  padding:0 2%;
  display: flex;
  justify-content: space-between;
  height: 10em;
  background-color:azure;
  align-items: center;
}

#icons{
  font-size: 20px;
  
}
#face:hover{
  color: rgb(104, 104, 201);

}
#insta:hover{
  color: rgb(255, 37, 99);

}
#youtube:hover{
  color: red;

}
#mail:hover{
  color:rgb(111, 111, 225);

}