*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  overflow-x:hidden;
}

#header{
  padding:0 2%;
  display: flex;
  justify-content: space-between;
  height: 10em;
  background-color:azure;
  align-items: center;
}

#title {
  font-size: 2em;
}

#icons{
  font-size: 1.5em;
  
}
#face:hover{
  color: rgb(104, 104, 201);

}
#insta:hover{
  color: rgb(255, 37, 99);

}
#youtube:hover{
  color: red;

}
#mail:hover{
  color:rgb(111, 111, 225);

}

nav{
  display: flex;
  background-color: black;
  justify-content: center;
  height: 2.5em;
  align-items: center;
  border: none;
}

nav select, nav div{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2%;
  height: 100%;
  background-color: transparent;
  color: white;
}

nav select:hover{
  background-color: aqua;
}

footer{
  position: absolute;
  background-color: black;
  bottom: 0;
  width: 100%;
}